body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: linear-gradient(to bottom, #f9fafb, #d2d6db);
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

* {
  box-sizing: border-box;
}

.blog-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 340px;
  height: 504px;
  border-radius: 8px;
  border: 1px solid #ededed;
  box-shadow: 2px 2px 1px rgba(69, 69, 69, 0.15);
}
.blog-image {
  width: 340px;
  height: 288px;
  display: block;
}
.image {
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.blog-content {
  padding: 24px 16px;
}
.tag {
  color: rgb(21, 128, 61);
  padding: 2px 8px;
  background-color: rgb(237, 255, 243);
  font-size: 14px;
  line-height: 20px;
  border-radius: 20px;
  border: 1px solid rgb(200, 247, 216);
  font-family: No;
  margin-bottom: 40px;
}
.blog-title {
  color: rgb(38, 38, 38);
  font-size: 18px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 20px;
}
.blog-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(82, 82, 82);
  margin-bottom: 24px;
}
.fa-icon {
  height: 20px;
  width: 20px;
  color: rgb(67, 56, 202);
}
.readmore {
  text-decoration-line: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(67, 56, 202);
}